.App {
  text-align: center;
}

.header {
  background-color: #f8f8f8;
  height: 50px;
  padding: 0px;
  color: #777;
}

.title {
  font-size: 20px;
  padding-top: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
